*{
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

}

h1 {
    text-align: center;
    margin: 0; /* Remove default margin */
}

#table-container {
    width: 90%;
    margin: 0 auto; 
}

#add-data,
#pagination-controls {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

/* Corrected selector for the add-data button */
button#add-data {
    display: flex;
    align-items: center;
    justify-content: center;
}

header,
footer {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
    position: sticky;
    width: 100%;
    z-index: 1000;
}

header {
    top: 0;
}

footer {
    bottom: 0;
    margin-top: 90vh;
}

#table-container {
    max-width: 800px;
    margin: 60px auto 20px; /* Adjust top margin to account for header height */
}

button {
    padding: 5px 10px;
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
}

#data-count {
    display: block; /* Set display to block to make the input visible */
}

/* .tabulator-footer
{
   display: flex;
   justify-content: flex-start;
   align-items: center;
} */

.flex
{
    display: flex;
    align-items: center;
    justify-content: space-around;
}